

.field{
    width: 360px;
    height: 550px;
    background-image: url('../../img/field.jpg');
    background-size: cover;
    border: var(--border-gray);
    display: grid;
    grid-template-rows: 4;
    padding-top: 80px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
}

.row img{
    height: 80px;
}