.footer-main{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 20vh;
    background-color: var(--orange-main);
    border-top: var(--border-gray);
    padding: 20px 0;
    height: 20vh;
    
}

.footer-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-item img{
    max-width: 100%;
    min-width: 20%;
    width: 50%;
    transition: .1s all ease;
}

.footer-item a:hover img{
    transform: scale(1.1);
    transition: .1s all ease;
}