:root{
    --min-secondary-text: 10px;
    --game-won-bg: rgba(34, 219, 9, 0.247);
    --game-lost-bg: rgba(216, 24, 24, 0.205);
    --game-drawn-bg: rgba(124, 124, 124, 0.24);
}

.game-data{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    place-items: center;
    gap: 20px;
    border: var(--border-gray);
    border-radius: 5px;
    padding: 50px;
    width: 100%;
}

.games-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 60px;
}

.game-name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-name img{
    width: 50px;
}

.game-result{
    font-size: 50px;
}

.game-props{
    color: var(--text-secondary-color);
    font-size: small;
}

.game-won{
    background-color: var(--game-won-bg);
}

.game-lost{
    background-color: var(--game-lost-bg);
}

.game-drawn{
    background-color: var(--game-drawn-bg);
}

.game-played{
    color: var(--text-primary-color);
    font-weight: bold;
}

@media screen {
    @media (max-width: 650px) {
        .game-result{
            font-size: 25px;
        }

        .game-props{
            font-size: var(--min-secondary-text);
        }

        .game-name{
            font-size: var(--min-secondary-text);
        }
        .game-date{
            font-size: var(--min-secondary-text);
        }
    }
}