.table-container {
    width: 100%;
  }
  
  .ranking-table {
    width: 100%;
    border-collapse: collapse;
  }

  
  
  .ranking-table th {
    padding: 2px;
  }

  .ranking-table td{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .ranking-table th {
    background-color: #f2f2f2; /* Fondo gris claro para las celdas del encabezado */
    color: black;
}
  
  .ranking-table tr {
    border-bottom: 1px solid #ddd; /* Línea entre las filas */
  }

  .goals-difference{
    padding: 0 20px;
  }