.player-card{
    box-shadow: var(--light-shadow);
    border-radius: 5px;
    min-width: 350px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.player-card-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    
}
.player-controls{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.player-info{
    animation: faderight var(--fade-entry-time);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

#back-icon{
    animation: fadeleft var(--fade-entry-time);
}

@media screen {
    @media (max-width: 1250px){
        .player-card-content{
            grid-template-columns: 1fr;
        }
    }
}