.player-card{
    box-shadow: var(--light-shadow);
    border-radius: 5px;
    min-width: 350px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.player-card-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    
}
.player-controls{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.player-info{
    animation: faderight var(--fade-entry-time);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    max-width: 100%;
    max-height: 100%;
}

.player-info img{
    -webkit-mask-image: linear-gradient(0deg,transparent,#000000 50px);
    mask-image: linear-gradient(0deg,transparent,#000000 50px);
    max-width: 60%;
}

#back-icon{
    animation: fadeleft var(--fade-entry-time);
    color: var(--text-secondary-color);
}

#back-icon:hover{
    color: var(--text-primary-color);
    cursor: pointer;
}

@media screen {
    @media (max-width: 1250px){
        .player-card-content{
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 650px) {
        .player-info img{
            width: 80%;
        }
    }
}